<% include ./partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">Create A New Blog</div>
    <form class="ui form" action="/blogs" method="POST">
        <div class="field">
            <input type="text" placeholder="Blog Title" name="blog[title]">
        </div>
        <div class="field">
            <input type ="text" placeholder="Image Url" name="blog[image]">
        </div>
        <div class="field">
            <textarea placeholder="Description" name="blog[body]"></textarea>
        </div>
        <div>
            <button class="ui inverted big blue button">Submit</button>
        </div>
    </form>
</div>

<% include ./partials/footer %>